<div class="row">
	<div class="col-md-12">
		<h1 class="text-center" style="margin-bottom: 40px">Akun</h1>

		<!--
		<a id="edit" class="btn btn-warning pull-left" style="visibility: hidden" data-toggle="modal" data-target="#editForm">Edit</a>
		<a id="delete" class="btn btn-danger pull-left" style="visibility:hidden; margin-left:10px">Delete</a>
		-->

		<a id="adduser" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addForm">Tambah User</a>
		
		<!--
		<a href="#/tambah_UUK" class="btn btn-primary pull-right">Tambah Akun</a>
		-->

		<br><br>
		<div class="table-responsive">
			<table id="user" class="table display">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<div id="addForm" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tambah Akun</h4>
      </div>
      <div class="modal-body">
      	<form class="form-horizontal">
      		<div class="form-group">
				<label class="control-label col-md-2">Name</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_user.name" class="form-control" placeholder="name">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Email</label>
				<div class="col-md-10">
					<input type="text" ng-model="temp_user.email" class="form-control" placeholder="email">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Password</label>
				<div class="col-md-10">
					<input type="password" ng-model="temp_user.password" class="form-control" placeholder="password">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Role/UUK</label>
				<div class="col-md-10">
					<select ng-model="temp_user.role" class="form-control">
						<option value="">- pilih role/UUK -</option>
						<option value="admin">Admin</option>
						<option ng-repeat="UUK in UUKs" value="{{UUK.id}}">{{UUK.nama_uuk}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2"></label>
				<div class="col-md-10">
					<button ng-click="tambah_user()" class="btn btn-success">Simpan</button>
					<p ng-show="is_saving"><i class="fa fa-spinner fa-pulse fa-2x"></i> Loading...</p>
				</div>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

	var editor; // use a global for the submit and return data rendering in the examples

	$(document).ready(function() {

		window.mediator = new Mediator();

		var table = $('#user').DataTable( {
			serverSide: true,
			processing: true,
			ajax: 'user/dataTableAll',
		});
		
	})
</script>